h1{
    font-weight: bold;
}
.imagenfondo{
    background-image: url(img/Fondo.jpg);
    height: 383px;
    background-attachment: fixed;
}
.fondoindex{
    background-image: url(img/imgfondoindex.jpg);
    height: 600px;
    background-attachment: fixed;
}
.footerprinc{
    background-color: rgb(102, 102, 102);
    color: white;
    text-align: center;
}
.textoprinc{
    font-size: 1.2em;
}
.h1{
    color: green;
    font-weight: bold;
}
.h2{
    color: green;
    font-weight: bold;
}
.p{
    color: green;
    font-family: inherit;
    font-style: italic;
}